*,
*::before,
*::after {
 box-sizing: border-box;
}


:root {
 --text-header-2-3-nav-menu: #2E2F42;
 --footer-studio-logo: #F4F4FD;
 --button-blue-web-logo: #4D5AE5;
 --button-bright-h1: #FFF;
 --active-color: #404BBF;
 --main-color: #434455;
 --border-header-color: #E7E9FC;
}

body {
 font-family: Roboto, sans-serif;
 font-style: normal;
 color: var(--main-color);
}

p,
h3 {
 text-decoration: none;
 margin: none;
}

ul {
 list-style: none;
 display: flex;
}

menu {
 list-style: none;
 display: flex;
}

dl {
 list-style: none;
 display: flex;
}
.menu-header {
 display: inline-flex;
 align-items: flex-start;
 gap: 40px;
}

.nav-header {
 flex-basis: 50%;
 display: flex;
 justify-content: flex-start;
 align-items: center;
}

.contacts-header {
 flex-basis: 50%;
 gap: 40px;
 justify-content: flex-end;
}


.text-body {
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.32px;
 margin: 0;
}

.text-contacts {
 color: var(--main-color);
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.32px;
 text-decoration: none;
}

.text-contacts:hover,
.text-contacts:focus {
 color: var(--active-color);
}

.text-body-center {
 text-align: center;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.32px;
 margin: 0;
}

.text-h1-first {
 display: inline-flex;
 color: var(--button-bright-h1);
 text-align: center;
 font-size: 56px;
 line-height: 1.07;
 letter-spacing: 1.12px;
 padding: 188px 0 auto;
 margin: auto;
 margin-top: 188px;
 width: 496px;
}

.h1-container > .button-blue {
 display: inline-flex;
 padding: 16px 32px;
 align-items: flex-start;
 max-width: 169px;
 gap: 10px;
 justify-content: center;
 margin: 48px auto 188px;
 border-radius: 4px;
 background: var(--iris, #4D5AE5);
 box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
 border: none;
 

}

.text-h2 {
 color: var(--text-header-2-3-nav-menu);
 text-align: center;
 font-size: 36px;
 line-height: 1.11;
 letter-spacing: 0.72px;
 text-transform: capitalize;
 margin: 0;
}

.text-h3 {
 color: var(--text-header-2-3-nav-menu);
 font-size: 20px;
 font-weight: 500;
 line-height: 1.2;
 letter-spacing: 0.4px;
 margin: 0;
}

.text-h3-center {
 color: var(--text-header-2-3-nav-menu);
 text-align: center;
 font-size: 20px;
 font-weight: 500;
 line-height: 1.2;
 letter-spacing: 0.4px;
 margin: 0;
}

.button-blue {
 color: var(--button-bright-h1);
 background-color: var(--button-blue-web-logo);
 font-size: 16px;
 font-weight: 500;
 line-height: 1.5;
 letter-spacing: 0.64px;
 cursor: pointer;
}

.button-blue > 

.button-blue:hover,
.button-blue:focus {
 background-color: var(--active-color);
}

.nav-menu:hover,
.nav-menu:focus {
 color: var(--active-color);
}

.button-cloud:hover,
.button-cloud:focus {
 color: var(--button-bright-h1);
 background-color: var(--active-color);
 box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);


}


.button-cloud {
 color: var(--button-blue-web-logo);
 background-color: var(--footer-studio-logo);
 text-align: center;
 font-size: 16px;
 font-weight: 500;
 line-height: 1.5;
 letter-spacing: 0.64px;
 cursor: pointer;
 border-radius: 4px;
 border: 1px solid var(--border-header-color);
 padding: 12px 24px;
}

.logo-web-font {
 color: var(--button-blue-web-logo);
 font-family: Raleway;
 font-size: 18px;
 font-weight: 800;
 line-height: 1.17;
 letter-spacing: 0.54px;
 text-transform: uppercase;
}

.logo-studio-font-bright {
 color: var(--footer-studio-logo);
 font-family: Raleway;
 font-size: 18px;
 font-weight: 800;
 line-height: 1.17;
 letter-spacing: 0.54px;
 text-transform: uppercase;
}

.logo-studio-font {
 color: var(--text-header-2-3-nav-menu);
 font-family: Raleway;
 font-size: 18px;
 font-weight: 800;
 line-height: 1.17;
 letter-spacing: 0.54px;
 text-transform: uppercase;
}

.logo {
 text-decoration: none;
}

.footer-text {
 color: var(--footer-studio-logo);
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.32px;
}

.nav-menu {
 color: var(--text-header-2-3-nav-menu);
 font-size: 16px;
 font-weight: 500;
 line-height: 1.5;
 letter-spacing: 0.32px;
 text-decoration: none;
 
}

.footer-section {
 background-color: var(--text-header-2-3-nav-menu);
 width: 100%;
}

.footer-section > .footer-container > .logo {
 display: inline-flex;
 width: 115px;
 align-items: center;
 flex-shrink: 0;
}

.footer-section > .footer-container > .footer-text {
 width: 264px;
 margin: 0;
}

.footer-container {
 box-sizing: border-box;
 display: flex;
 max-width: 1158px;
 padding: 100px 0;
 margin: 0 auto; 
 flex-direction: column;
 gap: 16px;
}

.our-team-color {
 background-color: var(--footer-studio-logo);
}

.container-our-team-section {
 box-sizing: border-box;
 display: flex;
 max-width: 1158px;
 padding: 120px 15px 120px ;
 margin: 0 auto;
 justify-content: center;
 flex-direction: column;
}

.our-team-cards {
 padding: 72px 156px 0;
 margin: 0 0;
 gap: 24px;
 justify-content: center;
}

.our-team-cards > li > .card {
 margin: 0;
 display: inline-flex;
 padding-bottom: 32px;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 32px;
 border-radius: 0px 0px 4px 4px;
 background: var(--white, #FFF);
 box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.container-our-team-section > ul > li > .card > .card-design {
 display: flex;
 width: 232px;
 flex-direction: column;
 justify-content: center;
 align-items: space-between;
 gap: 8px;
}


.h1-container {
 display: flex;
 flex-direction: column;
 background-color: var(--text-header-2-3-nav-menu);
 width: 100%;
}

.container {
 box-sizing: border-box;
 display: flex;
 max-width: 1158px;
 padding: 0 15px;
 margin: 0 auto;
 justify-content: center;
 flex-wrap: wrap;
}

.cards-container {
 box-sizing: border-box;
 display: flex;
 width: 1158px;
 padding: 0 0 120px 0;
 margin: 0 auto;
 row-gap: 48px;
 column-gap: 24px;;
 flex-wrap: wrap;
 
}

.cards-container > .card > figure{
 display: flex;
 width: 360px;
 padding: 0;
 flex-direction: column;
 align-items: flex-start;
 flex-shrink: 0;
 margin: 0;
 
}

.card-description {
 display: flex;
 width: 100%;
 flex-direction: column;
 border: 1px solid var(--border-header-color);
 border-top: none;
 padding: 32px 0;
 gap: 8px;
}

.container-header {
 box-sizing: border-box;
 display: flex;
 max-width: 1158px;
 padding: 0 15px;
 margin: 0 auto;
 justify-content: center;
}

.header-border {
 border-bottom: 1px solid var(--border-header-color)
}

.container-our-work {
 box-sizing: border-box;
 display: flex;
 max-width: 1158px;
 padding: 120px 15px 120px;
 margin: 0 auto;
 justify-content: center;
 flex-direction: column;
}

.container-our-work > ul {
 gap: 24px;
 justify-content: center;
 padding-left: 0;
 margin-top: 72px;
 border: 0;
 margin-bottom: 0;
}
.container > .description-list-company-values {
 
 display: flex;
 width: 1128px;
 padding: 120px 0 0;
 margin: auto;
 border: none;
 gap: 24px;
}

.our-work-images {
 gap: 24px;
 padding-left: 0;
 padding-top: 72px;
 
}

.description-list-company-values-element {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 flex-basis: 264px;
 gap: 8px;
 margin: 0;
 border: none;
}

.description-list-company-values-element > dd > p,
.description-list-company-values-element > dd {
 margin: 0;
 padding: 0;
}


.buttons-portfolio {
 justify-content: center;
 gap: 24px;
 padding-top: 96px;
 padding-bottom: 72px;
 margin: 0;
}